.preview-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.preview-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.preview-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.preview-image {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-remove-button {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.file-input-area {
  margin-top: 8px;
  display: block;
  border: 2px dashed #888;
  height: 150px;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
}
.file-input-area:hover,
.file-input-area.drag-over {
  background-color: #f0f0f0;
}

.file-input-socket {
  position: relative;
  display: block;
  padding: 0;
  width: 200px;
  height: 200px;
  border: 0;
  cursor: pointer;
}

.file-input-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #888;
  background-color: #fff;
  pointer-events: none;
}

.file-input-socket:hover .file-input-overlay,
.file-input-overlay.drag-over {
  background-color: #f0f0f0;
}
